<!DOCTYPE html>

<html>
<head><title>Easy Clinic</title></head>

<body>
    <div id="root">
    <main>
        <form function="POST">
        <ul>
            <li>
                <label for="fname">Imię:</label><br>
            </li>
            <li>
                <input type="text" id="fname" name="fname"><br>
            </li>
            <li>
                <label for="lname">Nazwisko:</label><br>
            </li>
            <li>
                <input type="text" id="lname" name="lname">
            </li>
            <li>
                <label for="lname">PESEL:</label><br>
            </li>
            <li>
                <input type="text" id="lname" name="lname">
            </li>
        </ul>
        <button type="submit">Prześlij<>
    </form>
    </main>
    </div>
</body>
</html>