{% extends 'base.html' %}
{% block title %}Add patients{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='patient_editor.css') }}">{% endblock %}
{% block content %}
<main>
    <div class="form-container">
        <form function="POST">
            <h2>Dodaj pacjenta</h2>
            <div class="form-group">
                <label for="name">Imię</label>
                <input type="text" id="name" placeholder="Wpisz imię pacjenta">
            </div>
            <div class="form-group">
                <label for="surname">Nazwisko</label>
                <input type="text" id="surname" placeholder="Wpisz nazwisko pacjenta">
            </div>
            <div class="form-group">
                <label for="PESEL">PESEL</label>
                <input type="number" id="PESEL" placeholder="Wpisz numer PESEL pacjenta">
            </div>
            <div class="form-group">
                <label for="street">Ulica</label>
                <input type="text" id="street" placeholder="Wpisz adres zamieszkania pacjenta">
            </div>
            <div class="form-group">
                <label for="city">Miasto</label>
                <input type="text" id="city" placeholder="Wpisz miasto, w którym mieszka pacjent">
            </div>
            <div class="form-group">
                <label for="zip_code">Kod pocztowy</label>
                <input type="number" id="zip_code" placeholder="Wpisz kod pocztowy pacjenta">
            </div>
            <button type="submit">Prześlij</button>
        </form>
    </div>

</main>
{% endblock %}