{% extends 'base.html' %}
{% block title %}Edytuj pacjenta{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='patient_editor.css') }}">{% endblock %}
{% block content %}
<main>
    <div class="form-container">
        <form action="/edit-patient" method="POST">
            <h2>Edit patient's data</h2>
            {% if message %}
            <p>{{message}}</p>
            {% endif %}
            <div class="form-group">
                <label for="PESEL">PESEL</label>
                <input class="input-box" type="number" id="PESEL" name="PESEL" placeholder="Please enter patient's PESEL number...">
                <label for="option">Select field to be modified:</label>
                <select name="option" id="option">
                  <option value="name">Name</option>
                  <option value="surname">Surname</option>
                  <option value="street">Street</option>
                  <option value="zip_code">Zip code</option>
                  <option value="city">City</option>
                </select> 
                <label for="modified_value">Modification</label>
                <input class="input-box" type="text" id="modified_value" name="modified_value" placeholder="Please enter modification...">
                <button type="submit">Edit</button>
            </div>
        </form>
    </div>

</main>
{% endblock %}