{% extends 'base.html' %}
{% block title %}Listing patients{% endblock %}
{% block head %}
{{ super() }}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static',filename='list_patients.css')}}">
{% endblock %}
{% endblock %}

{% block content %}
<main>
    <div class="form-container">
    <form action="/list-patients-search" method="POST">
        <div class="search-box">
            <label for="search">Search</label>
            <input type="text" id="search" name="search" placeholder="Input your query...">
            <label for="option">Select for which element you are searching</label>
            <select name="option" id="option">
                <option value="PESEL">PESEL</option>
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="street">Street</option>
                <option value="zip_code">Zip code</option>
                <option value="city">City</option>
            </select> 
            <label for="option">Sort results by</label>
            <select name="sort-by" id="sort-by">
                <option value="none">Selet sort option...</option>
                <option value="PESEL">PESEL</option>
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="street">Street</option>
                <option value="zip_code">Zip code</option>
                <option value="city">City</option>
            </select>
            <button type="submit">Search</button>
        </div>
    </form>
    <form action="/list-patients-sort" method="POST">
        <div class="sort-box">
            <label for="option">List all patients and sort by</label>
            <select name="option" id="option">
                <option value="PESEL">PESEL</option>
                <option value="name">Name</option>
                <option value="surname">Surname</option>
                <option value="street">Street</option>
                <option value="zip_code">Zip code</option>
                <option value="city">City</option>
            </select>
            <button type="submit">Sort</button>
        </div>
    </form>
    </div>
    <div id="container">
        <h2>List of patients</h2>
        <div id="bar">
        </div>
        <div id="patients-content">
        {% if message %}
            <p>{{message}}</p>
        {% endif %}
        <table>
            {% for patient in patients %}
            <tr><td>{% for element in patient %}
                <p>{{ names[loop.index-1] }}: {{ patient[element] }}<p>
            {% endfor %}
                </td></tr>
            
        {% endfor %}
        </table>
        </div>
    </div>
</main>
{% endblock %}